<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/bonus.css" />
    <title>Esta Total</title>
  </head>
  <body>
    <a href="./main.html"><div class="black small block home">LOBBY</div></a>
    <div class="header">
      <div class="balance_field_key block small black"></div>
      <div class="balance_field_coin block small black"></div>
    </div>
    <div class="cards">
      <div class="card">
        <img src="../png/chest.png" class="chest" alt="chest" />
        <div class="block black small">OPEN</div>
      </div>
      <div class="card mid">
        <img src="../png/chest.png" class="chest" alt="chest" />
        <div class="block black small">OPEN</div>
      </div>
      <div class="card">
        <img src="../png/chest.png" class="chest" alt="chest" />
        <div class="block black small">OPEN</div>
      </div>
    </div>
    <script src="../scripts/bonus.js" type="module"></script>
  </body>
</html>
