<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <title>Esta Total</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="warning block black">
        <div class="text"></div>
        <div class="again block green">PLAY AGAIN</div>
      </div>
      <div class="footer">
        <div class="bet_button block black">PLAY</div>
        <div class="balance_field_coin block small black"></div>
        <div class="block red tiny minus">-</div>
        <div class="block gray small max">MAX</div>
        <div class="block red small bet">0</div>
        <div class="block red tiny plus">+</div>
        <a href="./main.html"><div class="block black small">LOBBY</div></a>
      </div>
      <img src="../png/table.png" alt="table" class="table" />

      <div class="bonus block square red double">
        <img src="../png/coin.png" alt="coin" />
        <div class="text">X2</div>
      </div>
      <div class="block black buy">BUY</div>
      <a href="./bonus.html"><div class="chest block square"></div></a>
    </div>
  </body>
  <script src="../scripts/game.js" type="module"></script>
</html>
