<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Esta Total</title>
  </head>
  <body>
    <div class="balance_field_coin black block small"></div>
    <div class="menu">
      <div class="pers" data-pers="woman">
        <div class="block red square">
          <img src="../png/woman_short.png" alt="woman" />
        </div>
        <a href="./game.html"><div class="block green small">GO</div></a>
      </div>

      <div class="pers" data-pers="boy">
        <div class="block red square">
          <img src="../png/boy_short.png" alt="woman" />
        </div>
        <a href="./game.html"><div class="block green small">GO</div></a>
      </div>

      <div class="pers" data-pers="mafia">
        <div class="block red square">
          <img src="../png/mafia_short.png" alt="woman" />
        </div>
        <a href="./game.html"><div class="block green small">GO</div></a>
      </div>
    </div>

    <div class="footer">
      <div class="block black big double">
        <img src="../png/coin.png" alt="coin" />
        <div class="text">X2</div>
      </div>

      <div class="block black big mid">
        <img src="../png/cup.png" alt="cup" />
        <div>
          <div class="tiny block red plus" data-extra="1">+1</div>
          <div class="tiny block red plus" data-extra="2">+2</div>
        </div>
      </div>

      <a href="./bonus.html"
        ><div class="block red big right">
          <div class="text">BONUS GAME</div>
          <img src="../png/chest.png" alt="chest" /></div
      ></a>
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
